@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(to right, rgb(2, 2, 22), rgb(13, 3, 18));
  color: white;
  font-family: 'Poppins',sans-serif;
}
.btnnav {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}
.cards-section {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}
.club-cards {
  background: linear-gradient(to right, darkblue, darkorchid) 1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  /* border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
}
.social-links {
  background: linear-gradient(to right, rgb(2, 2, 95), rgb(58, 11, 81));
}
.appbtn {
  background: linear-gradient(to right, rgb(2, 2, 81), rgb(44, 10, 61));
}
.circle-div {
  background: linear-gradient(to right, rgb(2, 2, 81), rgb(44, 10, 61));
}
.login-form {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, darkorchid, darkblue) 1;
}
.event-input {
  border-bottom: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, darkorchid, darkblue) 1;
}
.event-cards {
  border: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(178, 57, 239), rgb(4, 4, 180)) 1;
  background: linear-gradient(to right, rgb(1, 1, 33), rgb(19, 3, 28));
}
.event-banner-div {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTopOb-bzd-zlzjFB6H0_Qeq9wvizdEYebqecN6LXd49A-VcR2LxkHS2NV68E5eGNAHm44&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}
.active-modal {
  overflow-y: hidden;
  background: linear-gradient(to right,rgb(8, 8, 8),rgb(31, 31, 31));
  backdrop-filter: blur(50px);
  
}
.active-modal2 {
  overflow-y: hidden;
  background: linear-gradient(to right,rgb(31, 31, 31),rgb(8, 8, 8));
  backdrop-filter: blur(50px);
  
}
.stats-div {
  background: linear-gradient(to right,rgb(10, 1, 35),rgb(43, 4, 45));
}
.logoname {
  background: #3813CF;
background: linear-gradient(to left, #3202f3 0%, #f30082 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.teamimg {
  box-shadow: 0 8px 32px 0 rgba(202, 0, 199, 0.37);
}
.startup-card {
  background: linear-gradient(to right, rgb(1, 1, 39), rgb(22, 3, 33));
}
.dataset-circle {
  background: linear-gradient(to right, rgb(2, 2, 54), rgb(36, 5, 54));
  border: 1px solid white;
}
.dataset-container {
  background: linear-gradient(to left, rgb(2, 2, 36), rgb(22, 3, 32));
}
.footer {
  background: linear-gradient(to left, rgb(1, 1, 17), rgb(13, 2, 19));
  border-top: 1px solid rgb(74, 5, 74);
  border-bottom: 1px solid rgb(74, 5, 74);
}
.footer button {
  background: linear-gradient(to right, rgb(2, 2, 32), rgb(38, 6, 56));
 border: 1px solid blue;
}
.student-div {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, darkorchid, darkblue) 1;
}
.studentreg-gif {
  background-image: url(https://cdn.dribbble.com/users/2375081/screenshots/5786512/4174c5d51f419760f83b3fc2a5913964.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.register-btn-student {
  background: linear-gradient(to right, rgb(4, 4, 59), rgb(61, 10, 90));
  border: 1px solid white;
}
.register-btn-student2 {
  background: linear-gradient(to left, rgb(4, 4, 59), rgb(61, 10, 90));
  border: 1px solid white;
}
.stu-form {
  background-image: url(https://www.icegif.com/wp-content/uploads/2023/08/icegif-354.gif);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 4px );
  background-position: center;
}
.form-div-container {
  backdrop-filter: blur( 50px );
  -webkit-backdrop-filter: blur( 4px );
}
.fest-card {
  background: linear-gradient(to right, rgb(4, 4, 20), rgb(18, 2, 26));
  box-shadow: 0 8px 32px 0 rgba(56, 13, 57, 0.37);
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid white;
}
.fest-bg1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fest-heading {
  font-family: "Roboto";
  font-weight: 900;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(3, 3, 41), rgb(26, 6, 35));
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(178, 57, 239), rgb(4, 4, 180)) 1;
}
.inizio-video {
  border: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(184, 41, 255), rgb(4, 4, 233)) 1;
  box-shadow: 0 8px 32px 0 rgb(3, 22, 92);
}
#main {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 90%;
  display: flex;
}

.lft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  padding-left: 9vw;
  width: 60%;
  height: 100%;
}

.lft h1 {
  font-size: 5vw;
  font-family: Gilroy-Black;
}

.lft h1:nth-child(2) {
  font-family: Gilroy-Light;
}

.lft p {
  width: 25vw;
}

.lft .search {
  width: 25vw;
  padding: 1.5vw 1vw;
  justify-content: space-between;
}

.lft .search input {
  width: 25vw;
}

.lft .search i {
  color: #ff8000dd;
}

.lft button {
  width: 8vw;
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rght {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding-right: 9vw;
}
#background {
  width: 33vw;
}

#all-plate {
  position: absolute;
  width: 30vw;
  height: 30vw;
  animation: circle 15s infinite linear;
}

#img-three {
  width: 14vw;
  position: absolute;
  top: 0%;
  left: -12%;
  animation: circle 20s infinite linear;
}

#img-two {
  width: 16vw;
  position: absolute;
  bottom: -18%;
  right: 0%;
  animation: circle 20s infinite linear;
}

#img-one {
  width: 12vw;
  position: absolute;
  top: 10%;
  right: -5%;
  animation: circle 20s infinite linear;
}

@keyframes circle {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

#glass {
  position: absolute;
  bottom: 10%;
  right: 25%;
  width: 20vw;
  height: 20vh;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.08);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.ri-menu-3-line{
    display: none;
}

.resp-nav{
    display: none;
}


@media (max-width:500px) {
    .lft-nav a{
        font-size: 10vw;
    }

    #main{
        height: auto;
        min-height: 100vh;
    }
    nav{
        justify-content: space-between;
        padding: 0vw 10vw;
        align-items: center;
    }
    .cntr-nav{
        display: none;
    }
    .rght-nav{
        display: none;
    }
    .ri-menu-3-line{
        display: initial;
        font-size: 5vw;
    }

    .resp-nav{
        position: absolute;
        top: 0;
        right: -100%;
        display: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        z-index: 9;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    .resp-nav a{
        text-decoration: none;
        font-size: 6vw;
        color: #333;
    }

    .resp-nav i{
        position: absolute;
        top: 3%;
        right: 8%;
        font-size: 7vw;
    }
    .main-content{
        height: auto;
        min-height: 100vh;
        flex-direction: column-reverse;
    }
    .rght{
        width: 100%;
        height: 60vh;
    }
    #background{
        width: 70vw;
    }
    #all-plate{
        width: 50vw;
        height: 50vw;
    }
    #img-one{
        width: 40vw;
        right: -50%;
    }
    #img-three{
        width: 33vw;
        left: -40%;
        top: -15%;
    }
    #img-two{
        width: 40vw;
        bottom: -50%;
        right: 44%;
    }
    #glass{
        top: 45%;
        right: -8%;
        width: 58vw;
        height: 16vh;
    }
    .lft{
        width: 100%;
        height: 60vh;
        gap: 1vh;
    }
    .lft h1{
        font-size: 10vw;
    }
    .lft p{
        width: 70vw;
        font-size: 4vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .lft .search{
        padding: 1vw 2vw;
        width: 70vw;
        height: 10vw;
    }
    .lft .search input{
        width: 70vw;
    }
    .lft .search i{
        font-size: 5vw;
    }
    .lft button{
        margin-top: 1.5vh;
        width: 30vw;
        height: 10vw;
    }
}
